@model List<NoteTitle>
@{
    ViewData["Title"] = "GetNotesTitle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Note Başlığım</th>
        <th>Detaylar</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TitleId</td>
                <td>@item.TitleName</td>
                <td><a href="/Home/NoteDetails/@item.TitleId" class="btn btn-outline-warning">Detaylar</a></td>
            </tr>
        }
    </tbody>
</table>

